<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The person</title>
</head>
<body>
<p th:text="${student.getId()}">VALUE</p>
<p th:text="${student.getName()+' '+student.getSurname()}">VALUE</p>
<p th:text="${student.getMiddleName()}">VALUE</p>

<a th:href="@{/students/{id}/edit(id=${student.getId()})}">Edit</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
<input type="submit" value="Delete"/>
</form>
</body>
</html>